<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Fims_Project_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ModelControl</display-name>
    <servlet-name>ModelControl</servlet-name>
    <servlet-class>controller.ModelControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelControl</servlet-name>
    <url-pattern>/model_Company</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountControl</display-name>
    <servlet-name>AccountControl</servlet-name>
    <servlet-class>controller.AccountControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountControl</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductControl</display-name>
    <servlet-name>ListProductControl</servlet-name>
    <servlet-class>controller.ListProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductControl</servlet-name>
    <url-pattern>/list-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailControl</display-name>
    <servlet-name>DetailControl</servlet-name>
    <servlet-class>controller.DetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailControl</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControl</display-name>
    <servlet-name>SearchControl</servlet-name>
    <servlet-class>controller.SearchControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControl</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageProductControl</display-name>
    <servlet-name>ManageProductControl</servlet-name>
    <servlet-class>controller.ManageProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageProductControl</servlet-name>
    <url-pattern>/manageProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductControl</display-name>
    <servlet-name>DeleteProductControl</servlet-name>
    <servlet-class>controller.DeleteProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductControl</servlet-name>
    <url-pattern>/delete-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddControl</display-name>
    <servlet-name>AddControl</servlet-name>
    <servlet-class>controller.AddControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddControl</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSignUpControl</display-name>
    <servlet-name>RegisterSignUpControl</servlet-name>
    <servlet-class>controller.RegisterSignUpControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSignUpControl</servlet-name>
    <url-pattern>/register-signup</url-pattern>
  </servlet-mapping>
</web-app>